<form *ngIf="!isFeedbackSubmitted;else thanks_for_feedback" (ngSubmit)="doCreate()" [formGroup]="formGroup">
    <regas-modal width="52rem" (close)="toggleFeedbackPopup()">

        <div regasModalHeader>
            {{ 'feedback.title' | translate:translations}}
        </div>
        <div class="mt-1 mb-4 text-left">
            {{ 'feedback.disclaimer' | translate:translations }}
        </div>
        <div>
            <p>
                <strong>
                    {{ 'feedback.body' | translate:translations }}
                </strong>
            </p>
            <fieldset class="rating">
                <input type="radio" id="star5" value="5" name="score" formControlName="score"
                       required/>
                <label for="star5" title=""></label>
                <input type="radio" id="star4" value="4" name="score" formControlName="score"
                       required/>
                <label for="star4" title=""></label>
                <input type="radio" id="star3" value="3" name="score" formControlName="score"
                       required/>
                <label for="star3" title=""></label>
                <input type="radio" id="star2" value="2" name="score" formControlName="score"
                       required/>
                <label for="star2" title=""></label>
                <input type="radio" id="star1" value="1" name="score" formControlName="score"
                       required/>
                <label for="star1" title=""></label>
            </fieldset>
            <div
                    [ngStyle]="{'visibility': formGroup.controls.score?.invalid && showError ? 'visible' : 'hidden'}"
                    class="alert alert-danger">
                <p>{{ 'feedback.no_rating' | translate:translations }}</p>
            </div>
            <div class="form-group mt-1">
                <label for="feedback_comment" class="mb-1">
                    <strong>
                        {{'feedback.comment_label' | translate:translations }}
                    </strong>
                </label>
                <textarea class="form-control" rows="6" name="comment"
                          id="feedback_comment" formControlName="comment" #feedback_comment maxlength="2000">
                </textarea>
                <div>{{feedback_comment.value.length}} / 2000</div>
            </div>
        </div>
        <div regasModalFooter>
            <button type="button" regasSecondaryButton
                    (click)="toggleFeedbackPopup()">
                {{'feedback.close'| translate:translations }}
            </button>
            <button type="submit" regasPrimaryButton class="ml-2">
                {{'feedback.save'| translate:translations }}
            </button>
        </div>
    </regas-modal>
</form>

<ng-template #thanks_for_feedback>
    <regas-modal (close)="toggleFeedbackPopup()">
        <div regasModalHeader class="mr-5">
            {{'feedback.thanks_header' | translate:translations}}
        </div>
        <p class="mt-3 mb-5 mr-5 text-left">
            {{'feedback.thanks' | translate:translations}}
        </p>
        <div regasModalFooter>
            <button type="button" regasPrimaryButton
                    (click)="toggleFeedbackPopup()">
                {{'feedback.close' | translate:translations }}
            </button>
        </div>
    </regas-modal>

</ng-template>
