@import 'abstracts';
@import 'main';

:host{
  font-size: 16px;
}

regas-feedback-button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: $zindex-sticky;

  @include media-breakpoint-up(md) {
    top: 50%;
    left: auto;
    bottom: auto;
    right: 0px;
    transform: rotate(270deg) translateY(-50%);
    transform-origin: right;
  }
}
